    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#3b82f6',
                        secondary: '#9333ea',
                        accent: '#fbbf24',
                        neutral: '#374151',
                        'base-100': '#ffffff',
                        info: '#3abff8',
                        success: '#36d399',
                        warning: '#fbbd23',
                        error: '#f87272'
                    }
                }
            }
        }
    </script>