<div class="navbar bg-base-200">
  <div class="ps-4">
    <a href="/" class="text-lg font-bold">daisyUI</a>
  </div>
  <div class="flex grow justify-end px-2">
    <div class="flex items-stretch">
      <a class="btn btn-ghost rounded-field">Button</a>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost rounded-field">Dropdown</div>
        <ul
          tabindex="0"
          class="menu dropdown-content bg-base-200 rounded-box z-1 mt-4 w-52 p-2 shadow-sm z-50">
          <li><a href="/currency">currency</a></li>
          <li><a href="https://daisyui.com/components/">daisyUI</a></li>
        </ul>
      </div>
    </div>
  </div>
  <label class="flex cursor-pointer gap-2">
    <span class="label-text">Current</span>
    <input type="checkbox" value="light" class="toggle theme-controller" />
    <span class="label-text">Light</span>
  </label>
</div>
