<div class="navbar bg-base-200">
  <div class="ps-4">
    <!-- <a href="/blogs/" class="text-lg font-bold">Blogs</a> -->
    <a href="/blogs/" class="text-lg font-bold"><img src="/static/blogs/lj-logo.svg" alt="Blogs" width="250" height="300" /></a>
  </div>
  <div class="flex grow justify-end px-2">
    <div class="flex items-stretch">
      <a class="btn btn-ghost rounded-field" href="/blogs/">Button</a>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost rounded-field">Профиль</div>
        <ul tabindex="0" class="menu dropdown-content bg-base-200 rounded-box z-1 mt-4 w-52 p-2 shadow-sm z-50">
          <li>
            <a href="/blogs/login">Войти</a>
          </li>
          <li>
            <a href="/blogs/logoff/">Выйти</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
