{% extends "blogs/base.html" %}

{% block body %}
<center>
<div class="container mt-5 size-100 max-w-3xl">
    <h2>Редактировать профиль</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            <label for="id_username" class="form-label">Имя пользователя</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="mb-3">
            <label for="id_email" class="form-label">Email</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="mb-3">
            <label for="id_first_name" class="form-label">Имя</label>
            {{ form.first_name }}
            {{ form.first_name.errors }}
        </div>
        <div class="mb-3">
            <label for="id_last_name" class="form-label">Фамилия</label>
            {{ form.last_name }}
            {{ form.last_name.errors }}
        </div>
        {% if form.instance.photo %}
        <div class="mb-3">
            <label class="form-label">Текущее фото:</label><br>
            <img src="{{ form.instance.photo.url }}" alt="Фото профиля" style="max-width:200px; max-height:200px;">
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="id_photo" class="form-label">Фото профиля</label>
            {{ form.photo }}
            {% comment %} <input type="file" name="photo" id="id_photo"> {% endcomment %}
            {{ form.photo.errors }}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
</center>
{% endblock %}